body{
    background-color:#7dc9f7 !important;
}

.allTweet{
    margin-left: 5%;
    margin-right: 5%;
}

.leftTweet{
    float:left;
}

.rightTweet{
    float:right;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: black;
    stroke-width: 0px;
}

.form-group {
    margin-left: 30%;
    margin-right: 30%; 
}

.title {
    margin:2%;
}

.centered {
    text-align: center;
}