body{
    background-color:rgb(125, 201, 247) !important;
}

.allTweet{
    margin-left: 9%;
    margin-right: 9%;
}

.jumbotron {
    background: rgba(81, 188, 255, 0.2)  !important;
    padding-top: 1%  !important;
    padding-bottom: 1%  !important;
}


.leftTweet{
    float:left;
}

.rightTweet{
    float:right;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: black;
    stroke-width: 0px;
}

.card{
    margin-top: 1%;
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 6%; 
}

.form-group {
    margin-left: 5%;
    margin-right: 5%; 
}

.title {
    margin:2%;
}
